//Colors
$Cyan: hsl(179, 62%, 43%);
$ltCyan: hsl(179, 49%, 54%);
$BrightYellow: hsl(71, 73%, 54%);
$DarkerYellow: hsl(71, 62%, 48%);
$LightGray: hsl(204, 43%, 93%);
$GrayishBlue: hsl(218, 22%, 67%);
$White: hsl(0, 0%, 100%);

//Font Sizes
$font-reg: 1rem; // 16px
$font-med: 1.125rem; //18px
